@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(42, 203, 42);
}

h1 {
  position: fixed;
  left: 25%;
  top: 10%;
  font-family: "Bungee", sans-serif;
  color: #fff;
  text-shadow: 3px 3px black;
}

.game-board {
  width: 100%;
  height: 500px;
  border-bottom: 2px solid rgb(42, 203, 42);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 2s infinite linear;
}

.nuvem {
  position: absolute;
  width: 355px;
  animation: nuvem-animation 8s infinite linear;
}

.plano-de-fundo {
  width: 100%;
  height: 280px;
}

.personagem {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
  from {
    right: -100px;
  }
  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 180px;
  }
  50% {
    bottom: 220px;
  }
  65% {
    bottom: 225px;
  }
  60% {
    bottom: 225px;
  }
  70% {
    bottom: 220px;
  }
  75% {
    bottom: 180px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes nuvem-animation {
  from {
    right: -355px;
  }

  to {
    right: 100%;
  }
}
